<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="tdl"
			id="de.atb.typhondl.xtext.TyphonDL"
			name="TyphonDL Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="de.atb.typhondl.xtext.TyphonDL.validate">
		<activeWhen>
			<reference
					definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="de.atb.typhondl.xtext.TyphonDL.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="de.atb.typhondl.xtext.TyphonDL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="de.atb.typhondl.xtext.TyphonDL.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="de.atb.typhondl.xtext.TyphonDL"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL"
			name="TyphonDL">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
		</page>
		<page
			category="de.atb.typhondl.xtext.TyphonDL"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL.coloring"
			name="Syntax Coloring">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
		</page>
		<page
			category="de.atb.typhondl.xtext.TyphonDL"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL.templates"
			name="Templates">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL"
			name="TyphonDL">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"
			label="TyphonDL"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="de.atb.typhondl.xtext.TyphonDL.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="de.atb.typhondl.xtext.TyphonDL.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="de.atb.typhondl.xtext.TyphonDL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="tdl"
			id="de.atb.typhondl.xtext.TyphonDL.contenttype"
			name="TyphonDL File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="tdl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="tdl">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for de.atb.typhondl.xtext.TyphonDL -->
	<extension
			id="typhondl.check.fast"
			name="TyphonDL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="typhondl.check.normal"
			name="TyphonDL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="typhondl.check.expensive"
			name="TyphonDL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="de.atb.typhondl.xtext.TyphonDL"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="tdl"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="de.atb.typhondl.xtext.TyphonDL"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="de.atb.typhondl.xtext.TyphonDL"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="de.atb.typhondl.xtext.TyphonDL.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for de.atb.typhondl.xtext.TyphonDL -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="de.atb.typhondl.xtext.ui.typhondl.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="de.atb.typhondl.xtext.ui.typhondl.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="de.atb.typhondl.xtext.ui.typhondl.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="de.atb.typhondl.xtext.TyphonDL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="de.atb.typhondl.xtext.TyphonDL"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="de.atb.typhondl.xtext.TyphonDL.refactoring"
			name="Refactoring">
			<keywordReference id="de.atb.typhondl.xtext.ui.keyword_TyphonDL"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="de.atb.typhondl.xtext.TyphonDL.compare.contentViewers"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="tdl">
		</viewer>
		<contentTypeBinding
			contentTypeId="de.atb.typhondl.xtext.TyphonDL.contenttype"
			contentViewerId="de.atb.typhondl.xtext.TyphonDL.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="de.atb.typhondl.xtext.TyphonDL.compare.contentMergeViewers"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="tdl" label="TyphonDL Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="de.atb.typhondl.xtext.TyphonDL.contenttype"
			contentMergeViewerId="de.atb.typhondl.xtext.TyphonDL.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="de.atb.typhondl.xtext.TyphonDL.editors.documentProviders"
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="tdl">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="tdl"
			type="text">
		</fileTypes>
	</extension>
	<extension
		point="org.eclipse.xtext.ui.fileTemplate">
		<fileTemplateProvider
			class="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:de.atb.typhondl.xtext.ui.wizard.MyFileTemplateProvider"
			grammarName="de.atb.typhondl.xtext.TyphonDL">
		</fileTemplateProvider>
	</extension>
	<extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
       <menu
             icon="icons/typhon_icon.png"
             label="TyphonDL">
          <command
                commandId="de.atb.typhondl.xtext.ui.wizard.OpenWizard"
                label="Create TyphonDL Model"
                style="push"
                tooltip="Opens a Wizard to create a TyphonDL File">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <iterate
                         ifEmpty="false">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="xmi">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="de.atb.typhondl.xtext.ui.updateWizard.UpdateModel"
                label="Update DL model"
                style="push"
                tooltip="Update DL model after changing ML model">
                <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <iterate
                         ifEmpty="false">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="tdl">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="de.atb.typhondl.acceleo.generate"
                label="Generate Deployment Scripts"
                style="push"
                tooltip="Use Acceleo to generate deployment scripts">
                <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <iterate
                         ifEmpty="false">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="tdl">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="de.atb.typhondl.xtext.ui.editor.OpenProperties"
                helpContextId="Enter additional data in a Graphical User Interface"
                label="Open Model Editor"
                style="push"
                tooltip="Enter additional data in a Graphical User Interface">
                <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <iterate
                         ifEmpty="false">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="tdl">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="de.atb.typhondl.xtext.ui.creationWizard.CreateModel"
                label="Create DL model"
                style="push"
                tooltip="Opens a Wizard to create a TyphonDL Files">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <iterate
                         ifEmpty="false">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="xmi">
                         </test>
                      </adapt>
                   </iterate>
                </with>
             </visibleWhen>
          </command>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:de.atb.typhondl.xtext.ui.handlers.OpenWizardHandler"
          id="de.atb.typhondl.xtext.ui.wizard.OpenWizard"
          name="Open Wizard">
    </command>
    <command
          defaultHandler="de.atb.typhondl.xtext.ui.handlers.GenerateScriptsHandler"
          id="de.atb.typhondl.acceleo.generate"
          name="Generate Scripts">
    </command>
    <command
          defaultHandler="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:de.atb.typhondl.xtext.ui.handlers.OpenEditorHandler"
          id="de.atb.typhondl.xtext.ui.editor.OpenProperties"
          name="Open Editor">
    </command>
    <command
          defaultHandler="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:de.atb.typhondl.xtext.ui.handlers.UpdateModelHandler"
          id="de.atb.typhondl.xtext.ui.updateWizard.UpdateModel"
          name="Update Model">
    </command>
    <command
          defaultHandler="de.atb.typhondl.xtext.ui.TyphonDLExecutableExtensionFactory:de.atb.typhondl.xtext.ui.handlers.CreateModelHandler"
          id="de.atb.typhondl.xtext.ui.creationWizard.CreateModel"
          name="Create Model">
    </command>
 </extension>
</plugin>
